body {
  margin: 0;
  padding: 20px;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  overflow-x: hidden;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}
